<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1087258055463-39t7mekdan73jn214hbg4r55cj797sls.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1087258055463-39t7mekdan73jn214hbg4r55cj797sls</string>
	<key>API_KEY</key>
	<string>AIzaSyDbltBaeyOv1cCEJhbNsSui-wqaIPJuNhw</string>
	<key>GCM_SENDER_ID</key>
	<string>1087258055463</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wolfware.SevenWondersStatTracker</string>
	<key>PROJECT_ID</key>
	<string>wondersproject-2d805</string>
	<key>STORAGE_BUCKET</key>
	<string>wondersproject-2d805.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1087258055463:ios:653407e59f19aabf698f02</string>
</dict>
</plist>